$title: #d86700;
$subtitle: #ffffff;
$text-info: #434343;
$bg-footer: $title;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.container {
  max-width: 1024px;
  margin: 0px auto;
  padding: 60px 20px 96px 20px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    "img-perfile info info info"
    "favorite-movies favorite-movies favorite-songs favorite-songs";
}

picture {
  display: flex;
  align-items: center;
}

.img-profile {
  grid-area: img-profile;
  width: 250px;
  border-radius: 50%;
}

.info {
  grid-area: info;
  align-self: center;
  h1 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
    color: $title;
  }
  p {
    font-size: 1.25rem;
    color: $text-info;
  }
  p + p {
    margin-top: 0.5rem;
  }
  a {
    display: inline-block;
    margin-top: 1.75rem;
    font-weight: 600;
    color: #010101;
  }
}

.footer {
  background-color: $bg-footer;
  padding: 1.75rem;
  p {
    text-align: center;
    color: #ffffff;
    font-size: 1.125rem;
  }
  a {
    color: #ffffff;
  }
}

.my-favorites {
  background-color: $bg-footer;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  color: $subtitle;
  h2 {
    font-size: 1.75rem;
  }
  ol {
    list-style: none;
  }
  li {
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
  }

  li:nth-of-type(odd) {
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 0.25rem;
  }
}

.favorite-movies {
  grid-area: favorite-movies;
}

.favorite-songs {
  grid-area: favorite-songs;
}
